.blog {
  margin-top: 220px;
  background: #f3f4f5;
  padding-bottom: 177px;

  &-container {
    width: 1290px;
    margin: 0 auto;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 40px;
      text-transform: capitalize;
      color: #8d448b;
      padding-top: 57px;
    }

    h1 {
      @include title;
      font-size: 30px;
      padding-bottom: 60px;
      line-height: 55px;
    }

    &__course {
      display: flex;
      column-gap: 30px;
      transition: column-gap 1s;

      &-item {
        width: 410px;
        height: 395px;
        background: $white;
        border-radius: 10px;
        transition: transform 0.25s;

        &:hover {
          transform: translate(0, -8px);
        }

        .text {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          color: #0f2137;
          padding: 25px;
        }

        .comments {
          display: flex;
          padding: 0 183.53px 0 30px;

          div {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: $grey;
            opacity: 0.8;
            cursor: pointer;
          }

          img {
            padding-right: 7.29px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {

  .blog {

    &-container {
      width: 90vw;
    }

    &-content {

      &__course {
        gap: 60px;
        flex-wrap: wrap;
        justify-content: space-around;

        &-item {

          .comments {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .blog {

    &-container {
      width: 90vw;
    }

    &-content {

      h1 {
        text-align: center;
      }

      &__course {
        gap: 60px;
        flex-wrap: wrap;
        justify-content: space-around;

        &-item {
          width: 50%;

          .text {
            text-align: center;
          }

          .comments {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {

  .blog-content__course {
    width: 150vw;
  }

  .blog-content__course-item {
    height: fit-content;
  }

  .blog-content__course-item .text {
    font-size: 15px;
  }
}