.support {
  padding-top: 147px;

  &-container {
    width: 1203px;
    margin: 0 auto;
  }

  &-content {
    display: flex;
    column-gap: 90px;

    &__img {
      transition: transform 1s ease-in-out;
    }

    &__text {
      width: 525px;
      padding-top: 143px;
      transition: transform 1s ease-in-out;

      h1 {
        @include title;
        padding-bottom: 24px;
      }

      p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 35px;
        color: $grey;
        padding-bottom: 24px;
      }

      div {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 34px;
        color: $main;
        opacity: 0.6;
        padding-bottom: 10px;
      }

      button {
        cursor: pointer;
        transition: all 0.25s;
        color: #8d448b;
        @include hoverText;

        svg {
          transform: rotate(90deg);
          transition: all 0.25s;
        }

        &:hover {
          svg {
            transform: rotate(180deg);
            fill: #c85bc4;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {

  .support {

    &-container {
      width: 80vw;
    }

    &-content {
      flex-direction: column;
      align-items: center;

      &__text {
        width: 70vw;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        h1 {
          text-align: center;
        }

        P {
          text-align: center;
        }

        div {
          text-align: center;
        }
      }

      &__img {
        padding-top: 100px;
      }
    }
  }
}

@media (max-width: 850px) {

  .support {

    &-content {

      &__text {

        h1 {
          font-size: 40px;
          line-height: 50px;
        }

        p {
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .support {

    &-content {

      &__text {

        h1 {
          font-size: 35px;
          padding-bottom: 15px;
        }
      }
    }
  }
}