.header {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
  padding: 18px 0;
}

.header-title {
  font-weight: 500;
  opacity: .2;
  font-size: 36px;

}

.app {
  position: relative;
}

.app__wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
  position: relative;
}


.sidebar {
  height: 100%;
  min-height: 100vh;
  border-right: 2px solid #000;
}

.sideabar-nav__links {
  display: flex;
  flex-direction: column;
}

.tab-button {
  cursor: pointer;
  border-bottom: 2px solid #000;
  padding: 15px 0;
  transition: background 0.15s linear;
}

.tab-button:hover {
  background: #000;
}

.tab-button:hover .nav-link {
  color: #fff;
}

.tab-button_active {
  background-color: #000;
  cursor: default;
}

.tab-button_active .nav-link {
  color: #fff;
  cursor: default;
}

.nav-link {
  text-transform: uppercase;
  margin-left: 10%;
  font-size: 18px;
}

.main {
  position: relative;
}

.put {
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 2;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: 1.5px solid #000;
}

.put__txt {
  font-weight: 400;
  font-size: 30px;
}

/* Note */

.note {
  position: fixed;
  left: 55%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  background: #fff;
  border: 1px solid #000;
}

.note-container {
  padding: 20px;
  min-width: 100%;
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  row-gap: 30px;
}

.note-form__input {
  border: 1px solid #000;
}

.note-form__input:focus {
  outline: none;
}

.note-form__input_sum,
.note-form__input_date,
.note-form__input_category {
  width: 70%;
  padding: 20px;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.note-form__input_txt {
  width: 70%;
  font-size: 20px;
  font-weight: 300;
  resize: none;
  padding: 10px 14px;
}

.note-form__submit {
  width: 40%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .2em;
  background: #000;
  color: #fff;
  margin-top: 20px;
  padding: 15px;
  border: none;
  transition: opacity .2s;
}

.note-form__submit:hover {
  opacity: .8;
}


/* Expense */

.expense {
  margin: 50px 0 200px;
}

.expense-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.expense-content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 0 20px;
}

.expense-field {
  display: grid;
  grid-template-columns: 6% 15% 15% 24% 24% 8% 8%;
  text-align: center;
}

.expense-field__info {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 10px;
  padding: 15px 0;
  border: 1px solid #000;
}

[data-id="input-description"] {
  font-weight: 500;
}

.expense-field__button_description {
  text-transform: none;
}

.expense-field__info-currency {
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: 500;
}

.expense-field__button {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  background: #fff;
  border: 1px solid #000;
  margin: 0 5px;
  cursor: pointer;
  padding: 15px 0;
  margin: 0 10px;
}

.expense-field__button_filter {
  transition: background .15s linear;
}

.expense-field__button_filter:hover {
  background: #000;
  color: #fff;
}

/* Filter */

.filter {
  position: fixed;
  width: 200%;
  height: 100%;
  top: 50%;
  left: 55%;
  z-index: 3;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.filter-container {
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.filter__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 10px;
}

.value,
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}

.value__title,
.category__title {
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.value__wrapper,
.category__wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.value__button,
.category__button {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  background: transparent;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  transition: opacity .15s linear;
}

.value__button:hover {
  opacity: .5;
}

.category__button:hover {
  opacity: .5;
}

.default {
  display: flex;
  justify-content: center;
}

.default__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  background: transparent;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border: none;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  transition: opacity .15s linear;
}

.default__button:hover {
  opacity: .5;
}


.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.none {
  display: none;
}

@media (max-width: 1350px) {
  .expense-content {
    row-gap: 60px;
  }

  .expense-field {
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
  }

  .expense-field__button_description {
    grid-column: 1/4;
    grid-row: 2/2;
  }

  .expense-field__button_edit {
    grid-column: 4/5;
    grid-row: 2/2;
    width: 42%;
  }

  .expense-field__button_remove {
    grid-column: 4/5;
    grid-row: 2/2;
    width: 42%;
    margin-left: auto;
  }

  .expense-field__button_filter {
    grid-column: 4/5;
    grid-row: 1/1;
  }

  .expense-field__info-currency {
    grid-column: 1/5;
    grid-row: 3/3;
  }
}

@media (max-width: 950px) {
  .app__wrapper {
    display: block;
  }

  .sidebar {
    min-height: 200px;
    height: 100%;
  }

  .nav-link {
    margin-left: 0;
    text-align: center;
  }

  /* Note */

  .note {
    left: 50%;
    max-width: 70%;
  }

  .note-form {
    padding: 0;
  }

  .note-form__input_sum,
  .note-form__input_date,
  .note-form__input_category,
  .note-form__input_txt {
    width: 80%;
  }

  /* Filter */

  .filter {
    left: 50%;
  }

  .filter__content {
    padding: 20px;
    row-gap: 40px;
  }
}

@media (max-width: 650px) {

  .expense-field {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
  }

  .expense-field__info-date {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .expense-field__button_edit {
    grid-column: 1/3;
    grid-row: 4/4;
    width: 60%;
  }

  .expense-field__button_remove {
    grid-column: 2/4;
    grid-row: 4/4;
    width: 60%;
  }

  .expense-field__info-currency {
    grid-column: 1/4;
    grid-row: 5/5;
  }

  .expense-field__button_filter {
    grid-column: 1/4;
    grid-row: 4/4;
  }

  /* Note */

  .note {
    max-width: 100%;
  }

  .note-form__input_sum,
  .note-form__input_date,
  .note-form__input_category,
  .note-form__input_txt {
    width: 90%;
    font-size: 20px;
    text-align: left;
  }

  .note-form__submit {
    width: 60%;
  }

  /* Filter */
  
    .filter__content {
    row-gap: 30px;
  }
  

  .value__wrapper,
  .category__wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .default__button {
    width: 30%;
  }
}
